{% extends 'base.html.twig' %}

{% block body %}
    <h1>Login</h1>


    {#    TODO:ADD CLIENT SIDE VALIDATION :(#}
    {# Render the login form #}
    {{ form_start(form, { 'attr': {'novalidate':'novalidate'},'action': path('app_login'), 'method': 'POST' }) }}
        {{ form_row(form.email, { 'label': 'Email Address' }) }}
        {{ form_row(form.password, { 'label': 'Password' }) }}
    {{ form_end(form) }}
{% endblock %}
