{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1 class="text-purple">Create a New Advert</h1>

        <div class="form-container">
            {{ form_start(form) }}
            {{ form_widget(form) }}
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
